.section-hero {
    .row {
        height: 320px;
    }
}

.form-inline {
    position: relative;
  
    i {
        position: absolute;
        top: 11px;
        left: 12px;
    }
    
    .form-control {
        padding-left: 35px;
        border-radius: 20px;
    }
}