.no-white-space {
    white-space: normal !important;
}

.mt-2_3 {
    margin-top: 2.3rem !important;
}

.w-85 {
    width: 85% !important;
}

.py-6 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
}