[class^="col"] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: $col-bg;
    border: 1px solid $col-bd;
    text-align: center;
}

.user-level .row {
    height: 100vh;
    color: $blue;
    background: $teal;
}

.user-level {
    background-color: $blue-light;
    height: 100vh;
}