.user-level {
    background: $gray-dark;
    color: $white;
    text-align: center;
    
    .row {
        height: 100vh;
    }
    
    &__login-link {
        &:focus {
            box-shadow: none;
            background-color: #0069d9;
            border-color: #0062cc;
        }
    }
}